my_ip_cidr  = "Coloque o seiu IP publico aqui/32"
key_name    = "terraform" coloque a sua chave PEM aqui como no exemplo sem .pem
db_password = "UmaSenhaForte123!"Isso NÃO é uma senha valida é um exemplo 